<!DOCTYPE>
<html>
<head>
    <title>MyStudio</title>
    <meta content='http-equiv' content-type='text/html; charset = UTF-8'/>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="../Views/CSS/stylesheet">
    <link rel="stylesheet" type="text/css" href="Views/CSS/login_registration.css">
    <link rel="stylesheet" type="text/css" href="Views/CSS/stylesheet.css">    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="Views/jquery.js" type="text/javascript"></script>
    <script src="Views/style.js" type="text/javascript"></script>
</head>
<body>
